*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    text-decoration: none;
}

:root{
    --bg-c-patika: #FAFAFA;
    --gold-patika: #FEBF5E;
    --bg-intro: #F8E6CA;
}

body{
    background-color: var(--bg-c-patika);
}

.clearfix{
    content: "";
    display: block;
    clear: both;
}